/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$black: #000000;
 
h1 {
	font-family: "hwt-artz", "Helvetica Neue", sans-serif !important;   
}

h1.title {
	font-size: 5em;
	font-size: 80pxo
}

h2, h3, h4, h5 {
font-family: "sneakers-pro", sans-serif !important;
}

em {
font-style: italic;
}

p,li {
font-family: "Helvetica", "Helvetica Neue", sans-serif; 
font-size: 1.25em; 
line-height: 1em;
font-weight: light;
font-weight: 300;
} 

footer p {font-family: "Helvetica", "Helvetica Neue", sans-serif; }

a {
color: $black !important;
}

.body { margin-top: 40px; }

ul.main-menu {
	li {
		a {
text-indent: -9999px;
width:50px;
height:50px;
background-color:black;
border-radius:50%;	
float: left;
		}
	}
}

ul.main-menu {
	li a:hover {
	background-color: grey;
	}
}

/*
div.meaty {
	height: 700px;
	background: url(../../img/meatyfinal.svg);
	background-size: cover;
	width:100%;
}*/

img.steak {
	width: 100%;
	margin: 0 auto;
	max-height: 800px;
}

div.about-meaty, div.team-meaty, div.services-meaty {
display:none;
}

/*Media Breakpoints*/
@media (max-width: 767px) {

h1.title {
        font-size: 5em;
	line-height: .9em;
        font-size: 80px;
        text-align: center;
        color: $black;
}

}
